@model IEnumerable<DiplomaDataModel.Choice>
@{
    ViewBag.Title = "Choices";
}
<h2>Index</h2>
@if ((TempData.ContainsKey("choiceExists")))
{
    <h3><span class="field-validation-error">@TempData["choiceExists"].ToString()</span></h3>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirdOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FourthOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearTerm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentLastName)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstOption.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondOption.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThirdOption.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FourthOption.Title)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.YearTerm.YearTermId)*@
                @if (item.YearTerm.YearTermId == 10)
                { <span>Winter </span>}
                else if (item.YearTerm.YearTermId == 20)
                { <span>Spring/Summer </span>}
                else
                { <span>Fall </span>}
                @Html.DisplayFor(modelItem => item.YearTerm.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentLastName)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ChoiceId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ChoiceId })
                </td>
            }
        </tr>
    }
</table>
